@use "@/assets/mixins.scss" as *;
/* topSticker */
.wrapper {
  position: absolute;
  width: 32%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: $color-black-device;
  padding: 4%;
}

.silverBg {
  border-radius: 50%;
  @include silverBackground;
  padding: 6%;
  box-sizing: border-box;
}
.content {
  width: 100%;
  padding-top: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.125em solid $color-black-device;
  text-align: center;
}

.logoWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logoContent {
  position: relative;
}

.logo {
  @include fontFaceBebasNeue;
  font-weight: bold;
  font-size: 5em;
  line-height: 1;
  &.firstLetter {
    color: $color-logo-first-letter;
  }
  &.secondLetter {
    color: $color-logo-second-letter;
  }
}

.logoText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin-top: -0.5em;
  font-weight: bold;
}

.logoRegisteredSymbol {
  line-height: 1;
  position: absolute;
  bottom: 0;
  transform: translate(15%, -100%);
}
