@import "@/assets/mixins.scss";

.settingButtonsWrapper {
  @include silverBackground;
  height: 100%;
  padding: 1em;
  border-radius: 2%;
  display: flex;
  align-items: stretch;
}

.settingButtonsBorder {
  border: 0.5em $color-black-device solid;
  border-radius: 1em;
  flex-grow: 1;
  flex-wrap: wrap;
}

.blackBorder {
  margin: -0.5em;
  border: 0.5em $color-black-device solid;
  border-radius: 1em;

  &.settingButtons {
    margin-bottom: 0;
    flex-grow: 1;
    padding: 0.5em 1em;
    gap: 1.5em;
    padding-top: 57%;
  }

  @media screen and (max-width: 400px) {
    &.settingButtons {
      padding-top: 69%;
    }
  }
}
