@import "@/assets/mixins.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.shell {
  border-radius: 50%;
  box-shadow:
    inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 50%;
  padding: 0.25em;

  .blue & {
    background-color: #2f73b7;
  }
  .red & {
    background-color: #8f1923;
  }
}

.button {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  padding:0;
  display: block;

  .blue & {
    background-color: #267fda;
  }
  .red & {
    background-color: #cd4a55;
  }
}

.label {
  @include fontFaceKellySlab;
  font-size: 0.8em;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%,110%);
}