@use "@/assets/mixins.scss" as *;

.blue {
  --mainColor: #{$color-rubber-blue};
  --darkColor: #{$color-rubber-blue-dark};
}
.red {
  --mainColor: #{$color-rubber-red};
  --darkColor: #{$color-rubber-red-darker};
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.shell {
  border-radius: 50%;
  box-shadow:
    inset 4px 4px 15px 0px $color-absolute-black,
    5px 5px 15px 5px $color-absolute-black-transparent;
  border-radius: 50%;
  padding: 0.25em;
  background-color: var(--darkColor);
}

.button {
  font-size: 1em;
  height: 1.75em;
  width: 1.75em;
  border-radius: 50%;
  padding: 0;
  display: block;
  background-color: var(--mainColor);
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.label {
  @include fontFaceKellySlab;
  font-size: 0.8em;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 110%);
}
