:root {
  font-family: sans-serif, system-ui, Avenir, Helvetica, Arial;
  font-size: 16px;
}

body {
  margin: 0;
  background: #52d1c4;
  min-height: 100vh;
  background: linear-gradient(-20deg,rgba(82, 209, 196, 1) 0%, rgba(199, 87, 165, 1) 50%, rgba(222, 171, 62, 1) 100%);
}
@media screen and (max-width: 550px) {
  body {
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
}
@media screen and (max-width: 320px) {
  body {
    font-size: 9px;
  }
}
@media screen and (max-width: 300px) {
  body {
    font-size: 8px;
  }
}
@media screen and (max-width: 250px) {
  body {
    font-size: 7px;
  }
}
@media screen and (max-width: 200px) {
  body {
    font-size: 6px;
  }
}
@media screen and (max-width: 180px) {
  body {
    font-size: 4px;
  }
}

.debugContainer {
  text-align: left;
}

.debugLabel {
  min-width: 24px;
}

/* COLORS */
.bgColor--red {
  background-color: #fc2c2c;
}
.bgColor--green {
  background-color: #03cc4c;
}
.bgColor--blue {
  background-color: #1c8cff;
}
.bgColor--yellow {
  background-color: #fed93f;
}
