@import "@/assets/mixins.scss";

.transitionWrapper {
  display: flex;
  justify-content: center;
}
.wrapper {
  max-width: 560px;
  width: 100%;
  padding: 1em;
  overflow: hidden;
  position: relative;

  &.wide {
    position: absolute;
    width: 300px;
    max-width: calc((100% - 560px) / 2);
    height: 200px;
    top: 1em;
    left: calc(560px + (100% - 560px) / 2);
  }

  &.short {
    position: fixed;
    height: 120px;
    bottom: 0;
  }
}

.content {
  padding: 1em 2em;
  border-radius: 0.5em;
  color: $color-white;
  position: relative;
  display: inline-block;
  z-index: 9999;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 2px solid;

  @media screen and (max-width: 420px) {
    font-size: 1.5em;
  }

  & > div {
    display: flex;
    gap: 8px;
    flex-direction: column;
  }

  $colorSettings: (
    success: (
      light: $color-snackbar-success-light,
      dark: $color-snackbar-success-dark,
    ),
    warning: (
      light: $color-snackbar-warning-light,
      dark: $color-snackbar-warning-dark,
    ),
    info: (
      light: $color-snackbar-info-light,
      dark: $color-snackbar-info-dark,
    ),
    error: (
      light: $color-snackbar-error-light,
      dark: $color-snackbar-error-dark,
    )
  );

  @each $snackbarType, $values in $colorSettings {
    &.#{$snackbarType} {
      background-color: #{map-get($values, light)};
      border-color: #{map-get($values, dark)};
      color: #{map-get($values, dark)};
    }
  }

  .enter & {
    top: -100%;
    opacity: 0.8;
    border: 0;
  }
  .enterActive & {
    top: 50%;
    opacity: 1;
    border: 1px solid;
    transition: all 400ms ease-out;
  }
  .exit & {
    top: 50%;
    border: 1px solid;
    opacity: 1;
  }
  .exitActive & {
    top: -100%;
    opacity: 0;
    border: 0;
    transition: all 400ms ease-out;
  }
}
